.home-cta {
  margin-top: 4rem;
  background-color: $black;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    display: inline;
    position: relative;
    font-size: 10vw;
    color: $white;
    font-family: 'GilroyBold', 'Helvetica Neue', sans-serif;

    .link-dot {
      position: absolute;
      width: 0.75rem;
      height: 0.75rem;
      background: $cta;
      border-radius: 50%;
      top: 50%;
      transform: translate(-50%, 0);
      @include media('<=LGdesktop') {
        width: 1.5rem;
        height: 1.5rem;
        right: -4.5rem;
      }
      @include media('<=desktop') {
        width: 1rem;
        height: 1rem;
        right: -3rem;
      }
      @include media('<=tablet') {
        width: 0.75rem;
        height: 0.75rem;
        right: -2rem;
      }
    }
  }
}
