.cta-link {
  font-size: 1.5rem;
  padding: 1rem 0;
  position: relative;

  .cta-inner {
    &:after {
      content: '•';
      position: absolute;
      right: -1.25rem;
      top: 0.85rem;
      color: $cta;
      font-size: 2rem;
    }
  }

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: $black;
    transition: 0.4s ease;
  }
  &:hover {
    &:after {
      width: 100%;
      left: 0;
      background: $black;
    }
  }

  @include media('<=tablet') {
    font-size: 1rem;
    .cta-inner {
      &:after {
        content: '•';
        position: absolute;
        right: -1rem;
        top: 0.8rem;
        color: $cta;
        font-size: 1.5rem;
      }
    }
    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 1px;
      display: block;
      margin-top: 5px;
      right: 0;
      background: $black;
      transition: 0.4s ease;
    }
    &:hover {
      &:after {
        width: 100%;
        left: 0;
        background: $black;
      }
    }
  }
}
