.header {
  position: fixed;
  width: 100%;
  height: 128px;
  z-index: 4;
  @include media('<=phone') {
    height: 96px;
  }
  .logo {
    cursor: pointer;
    a {
      font-size: 1.2rem;
      color: $black;
      letter-spacing: 0.5rem;
      text-decoration: none;
      font-weight: 700;
    }
  }
  .nav-toggle {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @include media('<=tablet') {
      margin-right: 24px;
    }
    @include media('<=phone') {
      width: 20px;
      margin-right: 16px;
    }

    .hamburger-menu {
      width: 25px;
      span {
        background: $black;
        text-align: center;
        margin: 0.3rem 0;
        height: 2px;
        width: 100%;
        display: block;
        @include media('<=phone') {
          margin: 0.2rem 0;
        }
      }
    }
    .hamburger-menu-close {
      position: absolute;
      display: none;

      svg {
        @include media('<=tablet') {
          width: 56px;
        }
        @include media('<=phone') {
          width: 48px;
        }
      }
    }
  }
}
