.header {
  position: fixed;
  width: 100%;
  height: 128px;
  z-index: 3;
  @include media('<=phone') {
    height: 96px;
  }
  .logo {
    a {
      span {
        cursor: pointer;
        display: block;
        font-size: 1.2rem;
        letter-spacing: 0.5rem;
        line-height: 1.75rem;
        text-decoration: none;
        font-weight: 700;
      }
    }
    &.logo-dark {
      a {
        color: $white;
      }
    }
  }
  .nav-toggle {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @include media('<=tablet') {
      margin-right: 24px;
    }
    @include media('<=phone') {
      width: 20px;
      margin-right: 16px;
    }

    &.nav-toggle-dark {
      .hamburger-menu span {
        background: $white;
      }
    }

    .hamburger-menu {
      width: 25px;
      span {
        background: $black;
        text-align: center;
        margin: 0.3rem 0;
        height: 2px;
        width: 100%;
        display: block;
        @include media('<=phone') {
          margin: 0.2rem 0;
        }
      }
    }
    .hamburger-menu-close {
      position: absolute;
      display: none;

      svg {
        @include media('<=tablet') {
          width: 56px;
        }
        @include media('<=phone') {
          width: 48px;
        }
      }
    }
  }

  &.headroom {
    will-change: transform;
    transition: transform 200ms linear;
  }
  &.headroom--pinned {
    transform: translateY(0%);
  }
  &.headroom--unpinned {
    transform: translateY(-100%);
  }
}
