.hero {
  min-height: 40rem;
  display: flex;
  align-items: center;
  background: $white;
  position: relative;
  .container {
    .hero-inner {
      padding: 0 2rem;
      .hero-inner-banner {
        .hero-inner-links {
          position: relative;
          display: flex;
          color: $white;
          align-items: center;
          justify-content: center;
          @include media('<=tablet') {
            flex-direction: column;
          }
          .hero-inner-link-item {
            h2 {
              padding: 12px 22px;
              display: inline-block;
              position: relative;
              overflow: hidden;
              text-decoration: none;
              color: $white;
              transition: color 0.3s, -webkit-text-stroke 0.3s;
              -webkit-text-stroke: 1px $cta;
              &:hover {
                color: $cta;
              }
              span {
                line-height: 1.1;
                font-weight: 700;
                font-size: 5.8vw;
                @include media('<=tablet') {
                  font-size: 12vw;
                }
              }
            }
            &:first-child {
              a {
                padding-left: 0;
              }
            }
            &:last-child {
              a {
                padding-right: 0;
              }
            }
          }
        }
      }
      .hero-footer {
        margin: 4rem 0;
        max-width: 50%;
        p {
          font-size: 2rem;
        }
      }
    }
  }
}
