.icon-button {
  cursor: pointer;
  padding: 1.5rem 1rem;
  width: 1.5rem;
  height: 1.5rem;
  .social-icon {
    fill: $black;
    transition: all 0.25s ease;
    width: 1.25rem;
    height: 1.25rem;
  }

  &:hover {
    .social-icon {
      fill: $cta;
    }
  }
}
