.single-case {
  width: 100%;
  .hero-image {
    position: relative;
    min-height: 45rem;
    height: 100%;
    @include media('<=tablet') {
      min-height: 100vh;
    }
    h1 {
      top: 40%;
      font-size: 5rem;
      width: 100%;
      text-align: center;
      transform: translate(0, -60%);
      color: $white;
      position: absolute;
      @include media('<=tablet') {
        font-size: 3rem;
      }
    }
    img {
      object-fit: cover;
      width: 100%;
    }
  }
  .content {
    li {
      font-family: 'Roboto', sans-serif;
      font-weight: 200;
      font-size: 1.25rem;
      line-height: 1.6;
    }
  }
}
