.single-case {
  width: 100%;
  .hero-image {
    position: relative;
    height: 70vh;
    h1 {
      top: 40%;
      font-size: 5rem;
      width: 100%;
      text-align: center;
      transform: translate(0, -60%);
      color: $white;
      position: absolute;
    }
    img {
      object-fit: cover;
      object-position: 0 65%;
      filter: brightness(50%);
    }
  }
  .content {
    li {
      font-family: 'Roboto', sans-serif;
      font-weight: 200;
      font-size: 1.25rem;
      line-height: 1.6;
    }
  }
}
