@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600;700&display=swap|Roboto:wght@200;300&display=swap');
@import './variables.scss';
@import './breakpoints.scss';
@import './components/header.scss';
@import './components/text-section.scss';
@import './components/home-cases.scss';
@import './components/banner.scss';
@import './components/cases.scss';
@import './components/navigation.scss';
@import './components/single-case.scss';
@import './components/cta-button.scss';
@import './components/home-cta.scss';
@import './components/footer.scss';
@import './components/cta-link.scss';
@import './components/icon-button.scss';

@font-face {
  font-family: 'GilroyBold';
  src: url('/fonts/Gilroy-Bold.woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

body,
html {
  visibility: hidden;
  scroll-behavior: smooth;
  user-select: none;
  background: $white;
  overscroll-behavior: none;
  margin: 0;
  font-family: 'Josefin Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  font-weight: 200;
  font-size: 1.25rem;
  line-height: 1.6;
}

.link {
  position: relative;
  font-weight: 500;
  font-size: 1.25rem;
  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    display: block;
    right: 0;
    margin-top: 5px;
    background: $black;
    transition: 0.4s ease;
  }
  &:hover {
    &:after {
      width: 100%;
      left: 0;
      background: $black;
    }
  }
}

h1,
h2,
h3,
h4 {
  font-family: 'GilroyBold', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $black;
  text-decoration: none;
}

.container {
  position: relative;
  width: 1560px;
  min-width: 1560px;
  margin: 0 auto;
  height: 100%;
  @include media('<=1560px') {
    width: 1280px;
    min-width: 1280px;
  }
  @include media('<=desktop') {
    width: 1080px;
    min-width: 1080px;
  }
  @include media('<=1080px') {
    width: 100%;
    min-width: 100%;
  }
  .row {
    display: flex;
    height: 100%;
    padding: 0 32px;
    @include media('<=phone') {
      padding: 0 16px;
    }
  }
  .content {
    margin-top: 32px;
    padding: 0 32px;
    time {
      font-weight: 700;
    }
  }
  .v-center {
    align-items: center;
  }
  .space-between {
    justify-content: space-between;
  }
}

.container-fluid {
  width: 100%;
  height: 100%;
  .row {
    display: flex;
    height: 100%;
  }
}

// intro overlay
.intro-overlay {
  .top {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: absolute;
    width: 100%;
    z-index: 8;
    .overlay-top {
      position: absolute;
      height: 100vh;
      height: calc(var(--vh, 1vh) * 100);
      width: 100vw;
      background: $black;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

.App {
  z-index: 2;
  transform: translateY(0);
  background: $white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.page {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  background: $white;
  .row {
    display: flex;
    align-items: center;
  }
}
